---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <script type="application/ld+json">
    {
      "publisher": {
          "@type": "Person",
          "name": "Paweł Miech",
          "image": "https://avatars0.githubusercontent.com/u/2700942?v=3&s=140",
          "jobTitle": "software engineer",
          "nationality": "Polish",
          "email": "pawelmhm+github_blog@gmail.com",
          "homeLocation": "Kraków, Poland"
        }
    }
    </script>

  <header class="post-header">
    <h1 class="post-title" itemprop='headline'>{{ page.title }}</h1>
    <div class="post-meta">
        <span itemprop='datePublished'>{{ page.date | date: "%b %-d, %Y" }}</span>
        <span>- by</span>
        <span itemprop='author'>{% if page.author %}{{ page.author }}{% else site.author %}{% endif %}</span>
        <span>- about:</span>
        <span itemprop='keywords'>{% if page.keywords %}{{ page.keywords }}{% endif %}</span>
    </div>
  </header>

  <article class="post-content" itemprop='articleBody'>
    {{ content }}
  </article>

</div>
